<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
</style>

@font-face
{
    font-family: "Ma_Super_Fonte";
    src: url("../polices/njnaruto") format('truetype');
    
}
@font-face
{
    font-family: "Ma_Super_Fonte2";
    src: url("../polices/Manga bold") format('OpenType');
    
}

  


html
{
    margin:0;
    padding: 0;
}

body
{   background: rgb(7,3,2);
    background: linear-gradient(56deg, rgb(41, 44, 185) 0%, rgba(28, 41, 156, 0.972) 99%);
    color: rgb(228, 88, 23);
    color: rgb(6, 6, 56);
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
}
main
{
    width: 100%;
    height: 100%;
}
.acc
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 200px;
}
.acc ul
{
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 500px;font-size: 25px;
    list-style-type:none ;
}
.acc p
{
    display: flex;
    flex-direction:column;
    
    text-align: center;
    font-size: 40px;
    color: rgb(11, 11, 97);
    text-shadow: 2px 2px rgb(184, 178, 178);
    width: 25%;
    height: 500px;
   
}

.admin
{
    font-family: "Ma_Super_Fonte";
    background-image: url(../img/test.png);
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    z-index: 0;
}
.profil
{
    font-family: "Ma_Super_Fonte";
    background-image: url(../img/haku.jpg);
    position: absolute;
    background-size: cover;
    color: rgb(6, 6, 56);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    z-index: 0;
}
.modo
{
    font-family: "Ma_Super_Fonte";
    background-image: url(../img/zabuza.jpg);
    position: absolute;
    background-size: cover;
    color: rgb(6, 6, 56);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    z-index: 0;
}
.ins
{
    font-family: "Ma_Super_Fonte";
    background-image: url(../img/jiraiya-4.jpg);
    position: absolute;
    background-size: cover;
    background-attachment: scroll;
    color: rgb(6, 6, 56);
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    z-index: 0;
}

h1
{
    font-family: "Ma_Super_Fonte",cursive;
    display: flex;
    font-size: 40px;
    justify-content: center;
    text-shadow: 2px 2px whitesmoke;
}

h2
{
    font-family: "Ma_Super_Fonte",cursive;
    display: flex;
    font-size: 25px;
    justify-content: center;
    
}

button a
{
    text-decoration: none;
}

button{font-size: 20px;}

a{
    color:black;
    text-decoration: none;
}

input[type="submit"]
{
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
	padding-bottom: 4px;
	margin-top: 30px;
	box-shadow: 0px 1px 10px lightgray;
	background-color:#019891;
	text-decoration: none;
	width: 120px;
	height: 40px;
	text-align:center;
	transition: all 0.2s ease;
	color: white;
	border-radius: 20px;
	font-size: 15px;
    opacity: 0.6;
    transition: 0.3s;
    outline:none;
}

input[type="submit"]:hover {opacity: 1}

input[type="submit"]:active {
  background-color: #29B5AC ;
  transform: translateY(4px);
}


select[type="post"]{
    font-family: 'Montserrat', sans-serif;
    outline:none;
    border-radius:5px;
    border:0.5px solid lightgray;
    padding:1%;   
}

select[type="post"]:hover{background-color:lightgray;}

header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    
}

header nav
{
    display: flex;
    height:8vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.308);
    /*background-color: rgba(0, 0, 0, 0.308);*/
}

header ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
}

header li
{
    padding: 0 15px;
}

header li a
{
    font-size: 25px;
    color: #faf6f6;
    text-decoration: none;
    font-family: "Ma_Super_Fonte2";
    font-size: 40px;

}

header li a:hover
{
    color: blanchedalmond;
    text-shadow: 1px 1px 0 #969696, 1px 13px 5px #aba8a8;
}




footer
{
    display: flex;
    background-color: rgba(33,33,33,0.7);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 10vh;
    align-content: center;
    align-items:center;
    justify-content: center;
    position:absolute;
    bottom:-1130px;
}

audio{
    width: 250px;
    height: 30px;
}



.formulaire
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width:25vw;
    margin: auto;
    padding:15px;
    background-color: rgba(66, 51, 41, 0.829);
}


.formulaire label
{
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-items:center;
    max-width: 20vw;
    font-size: 15px;
    text-shadow: 4px 4px 12px rgba(221, 221, 215, 0.795);
}

.formulaire input
{
    display: flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
    justify-items:center;
    font-size: 15px;
    max-width: 20vw;

    color: rgb(22, 22, 22);
    text-shadow: 4px 4px 12px rgba(253, 255, 147, 0.795);
}
table{
    width: 100%;
    
    z-index: 1;
    
}

.ad{
    width: 100%;
    z-index: 1;
    
}
.adb
{
    width: 100%;
    
    
    
}
.adb td
{
    width: 18%;
    
    
}
thead{
    display: flex;
    flex-direction:column;
    align-items:space-between;
    width: 100%;
    height:45px;
    font-size: 34px;
    text-shadow: 4px 4px 12px rgba(221, 221, 215, 0.795);
    border:  0.5px outset white;
    
}
thead tr th
{
    width: 380px;
    text-align: center;
    color: rgb(6, 6, 56);
    border: rgb(22, 22, 22);
}
td{
    width: 15%;
    text-align: center;
    
}



/*--------------------INDEX--------------------*/
/*--------------------INDEX--------------------*/
/*--------------------INDEX--------------------*/
/*--------------------INDEX--------------------*/
/*--------------------INDEX--------------------*/

.banniere{
    text-align: center;
    background-image: url(../img/banniere.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    padding-top: 5%;
}

.logo{
    width: 20%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.5);
   
}

/*--------------------Creer Article--------------------*/
/*--------------------Creer Article--------------------*/
/*--------------------Creer Article--------------------*/
/*--------------------Creer Article--------------------*/
/*--------------------Creer Article--------------------*/

#creerArticle{
    margin: 0 auto;
    display: block;
    text-align: center;
    border: 0.4px solid lightgray;
    border-radius:5px;
    box-shadow:3px 3px 3px lightgray;
    height:400px;
    width: 80%;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color:white;
    color:lightgray;
    padding:5%;
    font-family: 'Montserrat', sans-serif;
    font-size:15px;
    text-align:center;
}

#creerArticle textarea{
    margin-top:5%;
    resize: none;
    border:0.4px solid #019891;
    border-radius:5px;
    width:80%;
    height:250px;
    opacity:0.5;
    outline:none;
    font-family: 'Montserrat', sans-serif;
    padding:2%;
}

#creerArticle textarea:hover{background-color:#F1FFFC;}

#button-valider
{
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
	padding-bottom: 4px;
	margin-top: 30px;
	box-shadow: 0px 1px 10px lightgray;
	background-color:#019891;
	text-decoration: none;
	width: 120px;
	height: 40px;
	text-align:center;
	transition: all 0.2s ease;
	color: white;
	border-radius: 20px;
	font-size: 15px;
    opacity: 0.6;
    transition: 0.3s;
    outline:none;
}

#button-valider:hover {opacity: 1}
#button-valider:active {
  background-color: #29B5AC ;
  transform: translateY(4px);
}

/*--------------------Creer Categorie--------------------*/
/*--------------------Creer Categorie--------------------*/
/*--------------------Creer Categorie--------------------*/
/*--------------------Creer Categorie--------------------*/
/*--------------------Creer Categorie--------------------*/

#newCategorie{
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
    padding: 3%;
    border-style: dashed solid;
}

#bodycreer-article{background:white}



/*--------------------allArticle--------------------*/
/*--------------------allArticle--------------------*/
/*--------------------allArticle--------------------*/
/*--------------------allArticle--------------------*/
/*--------------------allArticle--------------------*/
/*
#bodyAllArticle{
    background-image: url(../img/backgroundAllArticle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#bodyAllArticle{background:white;margin:0;}

#allArticle{
    margin: 0 auto;
    margin-top:5%;
    width: 80%;
    padding: 2%;
    background-color: white;
    border: 0.5px solid lightgray;
    border-radius:5px;
}

.articles{
    text-align: justify;
    border : 0.5px solid lightgray;
    color:lightgray;
    border-radius:5px;
    margin: 5%;
    padding: 5%;
    background-color:white;
    opacity:0.5;
    box-shadow:3px 3px 3px grey;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out; 
}


.articles:hover{
	-webkit-transform: scale(1.3);
	transform: scale(1.1);
}

/*--------------------ARTICLE--------------------*/
/*--------------------ARTICLE--------------------*/
/*--------------------ARTICLE--------------------*/
/*--------------------ARTICLE--------------------*/
/*--------------------ARTICLE--------------------*/
#bodyArticle{background:white;}

#mainArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

#mainArticle div form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto ;
}

#infoArticle{box-shadow:3px 3px 3px lightgray;}

#infoArticle, #anciens-commentaires{
    margin: auto;
    text-align: justify;
    border:0.5px solid lightgray;
    width:90%;
    padding:2%;
    border-radius:5px;
    outline:none;
    font-family: 'Montserrat', sans-serif;
}

#anciens-commentaires{
    border-radius: 50px;
    background-color:#F1FFFC;
    border-color:#019891;
}

#commentaire textarea{
    border:0.4px solid #019891;
    height:250px;
    opacity:0.5;
    text-align: justify;
    width:auto;
    padding:2%;
    border-radius:5px;
    outline:none;
    font-family: 'Montserrat', sans-serif;
}

#commentaire textarea:hover{background-color:#F1FFFC;}

#button1
{
    cursor:pointer;
    font-family: 'Montserrat', sans-serif;
	padding-bottom: 4px;
	margin-top: 30px;
	box-shadow: 0px 1px 10px lightgray;
	background-color:#019891;
	text-decoration: none;
	width: 120px;
	height: 40px;
	text-align:center;
	transition: all 0.2s ease;
	color: white;
	border-radius: 20px;
	font-size: 15px;
    opacity: 0.6;
    transition: 0.3s;
    outline:none;
}

#button1:hover {opacity: 1}
#button1:active {
  background-color: #29B5AC ;
  transform: translateY(4px);
}